@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=IM+Fell+English+SC&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

:root{
    --a : 0;
}
body{
    background-color: black;
    color: white;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto','Shrikhand','Courier New', Courier, monospace ;
}

.left{
    width: 25vw;
    margin: 10px;
}


.logo {
    align-items: center;
    gap: 7px;
    display: flex;
    font-size: x-large;
    font-weight: 800;

}
.home ul li{
    list-style-type: none;
    width: 14px;
    display: flex;
    gap: 12px;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
   
    width: 100%;
    display: flex;
    gap: 12px;
    font-weight: bold;
    align-items: center;
    padding: 23px 14px ;
    font-size: 13px;
}

.heading img{
    width: 30px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0 ;

}

.footer a{
    color: gray;
}


.hamburger{
    display: none;
    cursor: pointer;
}

.close{
    display: none;
}

.hamburgercon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right{
    width: 75vw;
    margin: 16px 0 ;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34);
    height: 70px;
    align-items: center;
    border-radius: 7px;
}

.header .aero{
    width: 20px;
}

.header > *{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 15px;
}
.spotifyPlaylists h1{
    padding: 15px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 15px;   
    overflow: auto;
    max-height:60vh;
}
.card{
    width: 240px;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}

.card:hover{
    background-color: black;
    cursor: pointer;
    --a:1
}

.card > *{
    padding-top: 5px ;

}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.play{
    width: 50px;
    height: 45px;
    background-color: #1dc059;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    right: 15px;
    opacity: var(--a);
    transition: all 0.5s ease-out;
}


.playbar{
    position: fixed;
    bottom: 20px;
    background: #b2b2b2;
    width: 70vw;
    padding: 12px;
    filter: invert(1);
    border-radius: 15px;   
    min-height: 30px; 
}

.buttons > *{
    margin: 0 12px;
     
}

.signupbtn{
    background-color: rgb(34,34,34);
    color: gray;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;

}

.signupbtn:hover{
    font-size: 17px;
    color: white(34,34,34);
}

.loginbtn{
    background-color: white;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    padding: 10px 0;
    width: 70px;
    cursor: pointer;
}

.loginbtn:hover{    
    font-weight: bold;
    font-size: 17px;
}




.songbuttons{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.songList{
    height: 430px;
    overflow: auto;
    margin-bottom: 10px ;
}

.songList ul{
    padding: 0 10px ;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0 ;
    border: 1px solid white;
    margin: 12px 0;
    padding: 12px;
    border-radius: 5px;
}

.songList .info{
    font-size: 14px;
    width: 344px; 
}
.songList .info div{
    /* horizontal scrolbar no ave  */
    word-break: break-all;  
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.playnow span{
    font-size: 15px;
    width: 65px;
    padding: 12px;
    /* background-color: red   ; */
}



.seekbar{
    height: 5px;
    width: 98.5%;
    background: black;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 5px;
    margin: 5px;
    cursor: pointer;
}

.circle{
    height: 13px;   
    width: 13px;
    border-radius: 25px;
    background-color: #141B34 ;
    position: relative;
    bottom: 5px;
    left: 0%;
    transform: left 0.5s; 
    /* transiton thi circle ne slide karo to e 0.5second ma shanti thi jay em */
}

.songbuttons img{
    cursor: pointer;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 200px;
}

 .songtime{
    color: black;
    padding: 0 12px;
    width: 125px;
}

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.volume-icon , .volrange{
    cursor: pointer;
}


@media (max-width : 400px){
    .left{
        /* background-color: red; */
        position: absolute;
        left: -110%;
        transform: all 0.3s;
        z-index: 1;
        width: 350px;
        background-color: black;
        padding: 0;
    }

    .songinfo , .songtime{
        width: auto;
    }

    .left .close{
        position: absolute;
        top: 10px;
        right: 20px;
        width: 35px;
    }

    .right {
        width: 100vw;
    }
    .playbar {
        width: 85vw;
        
    }
    .seekbar{
        width: 85vw;
    }

    .hamburger{
        display: block;
        height: 40px;
        width: 40px;
    }


    .cardContainer{
        justify-content: center;
        margin: 0;
        
    }

    .card{
        width: 90vw;
    }

    .close{
        display: block;
    }

    .right{
        margin: 0;
    }
    .header{
        border-radius: 0;
    }

    .abovebar{
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .cardContainer{
        max-height: 50vh;
    }
}

